<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <classyllama_llamacoin>
                <title>Llama Coin</title>
                <model>ClassyLlama\LlamaCoin\Model\LlamaCoin</model>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
            </classyllama_llamacoin>
        </payment>
    </default>
</config>

